body {
    background-color: azure;
    margin: 20px 40px;
    padding: 20px 40px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    position: relative;
}

.icon1 {
    padding-right: 10px;
    color: greenyellow;
}

h3 {
    padding-top: 10px;
}

#back {

    border: 2px solid black;
    border-radius: 25px;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 15px 5px 0px;
    background-color: rgb(13, 146, 146);
    color: red;
    font-weight: bold;
}

#back:hover {
    color: white;
    background-color: blue;
}

.header {
    background-color: rgb(166, 236, 236);
    margin: 0px;
    padding: 0px;
    text-align: center;

}

.header h1 {
    font-size: 40px;
}

span,
h1,
h3 {
    font-weight: bolder;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
}

img {
    width: 600px;
    padding: 10px;
    margin-left: 100px;
    border: 2px solid gray;
    box-shadow: 2px 1px 20px gray;
    background-color: white;
    border-radius: 10px;

}

.preparation {
    padding: 20px;
    margin: 20px;
}


.footer {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(13, 146, 146);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;

}


.footer a:hover {
    color: red;
}

.footer a {
    font-weight: bold;
}


.header {
    border: 1px solid blue;
    border-radius: 15px;
    margin-bottom: 20px;
}

p {
    padding: 10px;
    margin: 10px;
    border-top: 1px dashed rgb(255, 4, 4);
}

main {
    background-color: rgb(252, 233, 233);
    border-radius: 10px;
    font-size: 30px;
    line-height: 1.3;
}

.ingredents {
    padding: 5px;
}

i {
    color: red;
    padding-left: 10px;
}

span {
    color: rgb(36, 36, 250);
    font-size: 40px;
}

.preparation {
    padding-bottom: 5px;
}


.main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.more_photos {
    display: flex;
    margin: 10px 20px;
}

body>section {
    text-align: center;
}