@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

img {
    border-radius: 35px;
    padding: 10px;
    border: 2px solid gray;
    box-shadow: 2px -1px 7px 3px rgb(196, 194, 194);
    background-color: rgb(238, 238, 238);
}

body {
    line-height: 1.35;
    letter-spacing: 1.5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 25px;
    margin: 25px;

}

.sun {
    color: rgb(235, 125, 0);
    padding: 5px;
    font-size: 35px;
}

.umbrella {
    color: rgb(235, 125, 0);
    padding: 5px;
    font-size: 35px;
}

.food {
    color: red;
    font-size: 35px;
    padding-left: 10px;

}

.main__lists {
    font-size: 50px;
    display: flex;

    margin: 10px;
    padding: 10px;
    justify-content: space-around;

}

.nav {
    background-color: rgb(90, 87, 248);
    font-size: 40px;
    border: 2px solid black;
    border-radius: 12px;
    font-family: 'Lobster', cursive;
}


#header>nav>ul>li a {
    color: rgb(211, 208, 208);
    text-decoration: none;
    border-radius: 12px;

}

#header>nav>ul>li a:hover {
    color: red;

}

#footer>nav>ul>li a {
    color: rgb(211, 208, 208);
    text-decoration: none;

}

#footer>nav>ul>li a:hover {
    color: red;

}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
    border-radius: 15px;
    border: 1px solid rgb(231, 226, 226);
    box-shadow: -1px 1px 8px 7px gainsboro;
    margin: 25px;
}

h1 {
    font-size: 75px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    text-shadow: -1px 7px 6px rgb(216, 206, 206);

}

p {
    font-family: Helvetica, sans-serif;
    color: gray;
    font-size: 28px;
    word-spacing: 2px;
    padding: 20px 100px;
    margin: 20px;

}

.information {
    text-decoration: none;
    font-size: 45px !important;
    padding: 10px 60px;
}

#main>img:nth-child(11) {
    margin-bottom: 15px;
}

.information:hover {
    cursor: pointer;
    color: red;
}

.bright {
    font-weight: bold;
    font-size: 40px;
    color: rgb(211, 154, 48);
}

.more_photos {
    border: 3px solid rgb(157, 163, 157);

    border-radius: 45px;
    background-color: rgb(90, 87, 248);
    text-decoration: none;
    font-weight: bold;
    font-size: 45px;
    color: rgb(211, 208, 208);
    padding: 10px 60px;
}

.more_photos:hover {
    color: red;
}

.information {
    border: 3px solid rgb(157, 163, 157);
    border-radius: 25px;
    background-color: rgb(90, 87, 248);
    text-decoration: none;
    font-weight: bold;
    font-size: 45px;
    color: rgb(211, 208, 208);
    padding: 5px 10px;

}

#main > img:nth-child(4){
    width: 50%;
}

#main > img:nth-child(11){
    width: 50%;
}