@media only screen and (max-width: 600px) {
    .banner h2,p{
        width: 90%;
    }

    body > section.banner > ul > li{
        width: 500px;
        
    }

    body > section.banner > ul > li > a{
        display: block;

    }

    header h2{
        text-align: left;
        display: block;
        margin: 0px 5%;
    }
}    
